Import pandas (and numpy) with:

In [ ]:
import pandas as pd 
import numpy as np

## Pandas Series
Pandas Series are like table columns, a 1D array.

In [ ]:
series = [3, 1, 7, 0]
pd_series = pd.Series(series)
print(pd_series)
# Result:
# 0    3
# 1    1
# 2    7
# 3    0
# dtype: int64

# pd_series[0] returns 3

0    3
1    1
2    7
3    0
dtype: int64

Create labels with the index argument:

In [ ]:
my_index = ["A", "B", "C", "D"]
pd_series2 = pd.Series(series, my_index)
print(pd_series2)
# Result:
# A    3
# B    1
# C    7
# D    0
# dtype: int64

# pd_series2["A"] returns 3

Create a Pandas Series from a Python dictionary:

In [ ]:
cars = {"Audi": 4, "BMW": 3, "Toyota": 6}
pd_series3 = pd.Series(cars)
print(pd_series3)
# Result:
# Audi      4
# BMW       3
# Toyota    6
# dtype: int64

# pd_series3["Audi"] returns 4

## Intro to Dataframes
Creating a random dataframe:

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

my_data = randn(4, 3) # Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Wednesday"]

# Create Dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday  Wednesday
A -0.289075  0.020548   1.067276
B  0.014860 -0.569779   0.141372
C  1.685028  0.695544   0.630808
D  1.141039  0.208812  -0.738063

Importing a dataframe: