Import pandas (and numpy) with:

In [ ]:
import pandas as pd 
import numpy as np

## Pandas Series
Pandas Series are like table columns, a 1D array.

In [ ]:
series = [3, 1, 7, 0]
pd_series = pd.Series(series)
print(pd_series)
# Result:
# 0    3
# 1    1
# 2    7
# 3    0
# dtype: int64

# pd_series[0] returns 3

0    3
1    1
2    7
3    0
dtype: int64

Create labels with the index argument:

In [ ]:
my_index = ["A", "B", "C", "D"]
pd_series2 = pd.Series(series, my_index)
print(pd_series2)
# Result:
# A    3
# B    1
# C    7
# D    0
# dtype: int64

# pd_series2["A"] returns 3

Create a Pandas Series from a Python dictionary:

In [ ]:
cars = {"Audi": 4, "BMW": 3, "Toyota": 6}
pd_series3 = pd.Series(cars)
print(pd_series3)
# Result:
# Audi      4
# BMW       3
# Toyota    6
# dtype: int64

# pd_series3["Audi"] returns 4

## Intro to Dataframes
Creating a random dataframe:

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

my_data = randn(4, 3) # Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Wednesday"]

# Create Dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday  Wednesday
A -0.289075  0.020548   1.067276
B  0.014860 -0.569779   0.141372
C  1.685028  0.695544   0.630808
D  1.141039  0.208812  -0.738063

Importing dataframes and some pandas functions:

In [ ]:
my_df2 = pd.read_csv(...)

# Pull out a row:
my_df2.loc[0] # Series for the 1st row

# Pull out multiple rows
my_df2.loc[[0, 5]] # Dataframe containing the 1st and 6th rows

# Grab the first 9 rows
my_df2.head(9) # If no parameter is given, then head works for the first 5 rows

# Grab the last 9 rows
my_df2.tail(9) # If no parameter is given, then tail works for the last 5 rows

# Get info about the dataframe
my_df2.info()

# Get shape of rows and columns
my_df2.shape

# Get number of dimensions
my_df2.ndim

# Get column datatypes
my_df2.dtypes

# Get statistics about the data
my_df2.describe()
my_df2[...].describe() # Get statistics about a specific column

# Select specific column
my_df2[...]         # Using brackets
my_df2._            # Using dot notation
my_df2.iloc[:, ...]    # Using location

Count data in a dataframe:

In [ ]:
# Count distinct values in a column
my_df2[...].value_counts()                  # descending
my_df2[...].value_counts(ascending = True)  # ascending
my_df2[...].value_counts(dropna = False)    # include NaN values
my_df2[...].value_counts(normalize = True)  # relative frequency
my_df2[...].value_counts()[...]             # get specific item count in the second bracket

# Other ways to count unique values
my_df2.groupby(...).size()                  # count unique values - size
my_df2.groupby(...).count()                 # count unique values - count

# Get a count of all columns across all columns
my_df2.apply(pd.value_counts)

Add new columns to a dataframe:

In [ ]:
# Add column from list:
gender = [...]
my_df2["Gender"] = gender # List length as to be the same as the number of rows
# Use np.nan to allow NaN values to be inserted as a column

my_df2.insert(1, "...", ..., True) 
# Second parameter is the column name
# Third parameter is the list
# Fourth parameter is whether to allow duplicate values

# Add column with .assign() - creates a new dataframe
my_df3 = my_df2.assign(...) # parameter is the list to add

Removing rows and columns from a dataframe:

In [ ]:
# Remove column
my_df2.drop("Gender", axis = 1, inplace = True) 
# Designate the column you want dropped
# axis = 1 for columns
# inplace = True for deleting a column permanently

# Remove row
my_df2.drop(3, axis = 0, inplace = True) 
# Designate the row you want dropped (Number for the row index)
# axis = 0 for rows
# inplace = True for deleting a column permanently